.swiper {
    width: 100%;
}

.certificateWrapper {
    color: var(--text-color);
    padding: 20px;

    h2 {
        font-size: 38px;
        margin-bottom: 32px;
    }
}

.Card {
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Ajuste para responsividade */
@media (max-width: 768px) {
    .swiper {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .swiper {
        width: 100%;
        height: auto;
        margin: 0;
    }
}
